%section
  %ul  
    %li
      = link_to image_tag('/images/history.png', :alt => 'History'), smses_path
      = link_to "History", smses_path
  #content    
    %h2
      SmsReceived 
      = link_to " | SmsAnswered", smsanswers_path
    %table
      %tr
        %th= sortable "id"
        %th= sortable "created_at", "Created at" 
        %th= sortable "user_id", "From" 
        %th= sortable "content", "Content" 
        %th= sortable "app_started", "Started?"
        %th= sortable "content", "App"
      - @smses.each do |s| 
        - @user = User.find_by_phone(s.from)
        - @command = Command.find_by_command(s.content)
        - @app = Application.find_by_id(@command.application_id) unless @command.nil?
        %tr
          %td= s.id
          %td= s.created_at
          %td
            - if @user.present?
              = @user.login
            - else 
              = s.from         
          %td= s.content
          %td= s.app_started
          %td
            - if @app.present?
              = @app.name
            - else
              = ""
