%section
  %ul  
    %li
      = link_to image_tag('/images/applications.png', :alt => 'Applications'), applications_path
      = link_to "Applications", applications_path
  #content        
    %h2
      Applications
    %table
      %tr
        %th= sortable "id" 
        %th= sortable "name" 
        %th= sortable "command", "Shell command"
        %th= sortable "allowed"
        %th= "E/D"
      - @applications.each do |a| 
        %tr
          %td= a.id
          %td= a.name
          %td= a.command
          %td= a.allowed
          %td
            = link_to "E", :url => a.id.to_s, :class => "edit_app"
            = "/"
            = link_to "D", a, :confirm => 'Are you sure?', :method => :delete
    .new_row
      - if @new_app.name.blank? or @new_app.command.blank?
        = semantic_form_for @new_app, :url => applications_path do |f|
          = f.input :name, :label => "New", :required => true
          = f.input :command, :label => false, :required => true
          = f.input :allowed, :as => :boolean, :label => "", :required => true
          = f.submit :value => "add"   
      - else
        = semantic_form_for @new_app, :method => :put do |f|
          = f.input :name, :label => "Edit", :required => true
          = f.input :command, :label => false, :required => true
          = f.input :allowed, :as => :boolean, :label => "", :required => true
          = f.submit :value => "edit"