%h2
  Applications
%table
  %tr
    %th= link_to "id", :sort => "id" 
    %th= link_to "name", :sort => "name" 
    %th= link_to "shell command", :sort => "command"
    %th= "allowed"
    %th= "edit"
  - @applications.each do |a| 
    %tr
      %td= a.id
      %td= a.name
      %td= a.command
      %td= a.allowed
      %td= link_to "E", edit_application_path(a), :class => "edit_app"

