%h2
	Welcome
%ul
	%h3
		Users
	-@users.each do |u|
		%li= u.login
%ul
	%h3
		Programs
	-@programs.each do |p|
		%li= p.name
		%li= p.command
%ul
	%h3
		Smses
	-@smses.each do |s|
		%li= s.command
		%li= s.user_id