%section
  %ul  
    %li
      = link_to image_tag('/images/applications.png', :alt => 'Applications'), applications_path
      = link_to "Applications", applications_path
    %li
      = link_to image_tag('/images/commands.png', :alt => "Commands"), "/commands"
      = link_to "Commands", "/commands"
    %li
      = link_to image_tag('/images/history.png', :alt => "History"), smses_path
      = link_to "History", smses_path
    %li
      = link_to image_tag('/images/users.png', :alt => "Users"), users_path
      = link_to "Users", users_path