%section
  %ul  
    %li
      = link_to image_tag('/images/history.png', :alt => 'History'), smses_path
      = link_to "History", smses_path
  #content    
    %h2
      History
    %table
      %tr
        %th= sortable "id"
        %th= sortable "received_at", "Received at" 
        %th= sortable "command", "Command" 
        %th= sortable "user_id", "User"
        %th= sortable "content"
      - @smses.each do |s| 
        %tr
          %td= s.id
          %td= s.received_at
          %td= s.command
          %td= User.find_by_id(s.user_id).login
          %td= s.content

