%section
  %ul  
    %li
      = link_to image_tag('/images/profile.png', :alt => 'Profile'), profile_edit_path
      = link_to "Profile", profile_edit_path
  #content    
    %h2
      Profile
    = semantic_form_for @user, :method => :put do |p|
      = p.input :name, :value => @user.name
      = p.input :surname, :value => @user.surname
      = p.input :login, :value => @user.login
      = p.input :email, :value => @user.email
      = p.input :phone, :value => @user.phone      
      = p.input :password
      = p.input :password_confirmation
      = p.submit :label => "Save"
