%section
  %ul  
    %li
      = link_to image_tag('/images/commands.png', :alt => 'Commands'), commands_path
      = link_to "Commands", commands_path
  #content    
    %h2
      Commands
    %table
      %tr
        %th= sortable "id"
        %th= sortable "command" 
        %th= sortable "application_id", "Application" 
        %th= sortable "last_used", "Last used"
        %th= sortable "last_used_by", "Last used by"
        %th= "E"
        %th= "D"
      - @commands.each do |c| 
        - @user = User.find_by_id(c.last_used_by)
        - @app = Application.find_by_id(c.application_id)
        %tr
          %td= c.id
          %td= c.command
          %td= @app.name unless @app.nil?
          %td= c.last_used
          %td= @user.login unless @user.nil?
          %td= link_to "E", :url => c.id.to_s, :class => "edit_comm"
          %td= link_to "D", c, :confirm => 'Are you sure?', :method => :delete
    .new_row
      - if @new_command.command.blank? or @new_command.application_id.blank?
        = semantic_form_for @new_command, :url => commands_path do |f|
          = f.input :command, :label => "New"
          = f.input :application_id, :as => :select, :include_blank => false, :label => false, :collection => Application.find(:all, :order => "name ASC")
          = f.submit :value => "add"   
      - else
        = semantic_form_for @new_command, :method => :put do |f|
          = f.input :command, :label => "Edit"
          = f.input :application_id, :as => :select, :include_blank => false, :label => false, :collection => Application.find(:all, :order => "name ASC")
          = f.submit :value => "edit"

